/** @format */
.section-container {
  .row {
    margin: 0 65px !important;
    display: block !important;
  }
  .about-section {
    .about-header {
      margin-top: 10px;
    }
    p {
      text-align: center;
    }
    .about-content {
      display: flex;
      justify-content: space-between;
      gap: 30px;

      ul {
        li {
          list-style-type: none;
        }
      }
      .about-content-right {
        display: flex;
        flex-direction: column;
      }
      .about-content-center {
      }
      .about-content-left {
      }
    }
  }
}
